<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand font-weight-bold" href="@Url.Action("Index","Home")">MEODIGIAY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Trang Ch?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Products","Home")">S?n Ph?m</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Danh M?c
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Giày Nam</a>
                            <a class="dropdown-item" href="#">Giày N?</a>
                            <a class="dropdown-item" href="#">Khuy?n Mãi</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact","Home")">Liên H?</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="btn btn-warning mr-3" href="@Url.Action("Login","Account")">??ng Nh?p</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-dark" href="@Url.Action("Index","Cart")">
                            <i class="fas fa-shopping-cart"></i> Gi? Hàng
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
